.idea
.build
/node_modules

/out/production
/out/test

/src/lab/*
/src/**/*.mjs
/src/**/*.mjs.map
/test/**/*.js
/test/**/*.js.map

/ci/LDKSwift/Sources/LDKHeaders

/xcode/*/Build/
/xcode/*/*.xcodeproj/project.xcworkspace/
/xcode/*/*.xcodeproj/xcuserdata/
/xcode/*/binary/*
/xcode/*/headers/*
/xcode/**/xcuserdata/*
/xcode/build
/xcuserdata/
*.log



poetry.lock
pyproject.toml

## User settings
xcode/build
xcuserdata/
/bindings/artifacts

# VSCode
.vscode/*

