.idea
/output
lib*.a
.DS_Store
__pycache__

ci/Build
ci/LDKSwift/.build
ci/LDKSwift/.swiftpm

ci/LDKSwift/Sources/*
!ci/LDKSwift/Sources/LDKSwift/
!ci/LDKSwift/Sources/LDKSwift/batteries/*
!ci/LDKSwift/Sources/LDKSwift/bindings/Bindings.swift

/xcode/*/Build/
/xcode/*/*.xcodeproj/project.xcworkspace/
/xcode/*/*.xcodeproj/xcuserdata/
/xcode/*/binary/*
/xcode/*/headers/*
/xcode/**/xcuserdata/*
*.log

## User settings
xcode/build
xcuserdata/
/bindings/artifacts
