name: XCFramework from XCArchives
permissions:
    contents: read
    statuses: read
    pull-requests: read
    actions: read
    checks: write
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - "*"

jobs:
    build-xcarchives:
        name: Build xcarchive for ${{ matrix.configuration['human_readable_platform'] }}
        runs-on: macos-12
        strategy:
            fail-fast: false
            matrix:
                configuration:
                    -   destination: generic/platform=iOS
                        human_readable_platform: 'iphoneos'
                    -   destination: platform=iOS Simulator,OS=15.2,name=iPhone 13 Pro
                        human_readable_platform: 'iphonesimulator'
                    -   destination: generic/platform=OS X
                        human_readable_platform: 'macosx'
                    -   destination: platform=macOS,variant=Mac Catalyst,arch=x86_64
                        human_readable_platform: 'catalyst'
        env:
            DEVELOPER_DIR: /Applications/Xcode_13.2.1.app/Contents/Developer
            LDK_C_BINDINGS_BASE: /Users/runner/work/ldk-swift/ldk-swift/bindings/artifacts/ldk-c-bindings
            LDK_C_BINDINGS_BINARY_DIRECTORY: /Users/runner/work/ldk-swift/ldk-swift/bindings/artifacts/bin
        steps:
            -   name: Configure Xcode
                uses: maxim-lobanov/setup-xcode@v1
                with:
                    xcode-version: latest
            -   name: Checkout
                uses: actions/checkout@v2
            -   name: Install Dependencies
                uses: ./.github/actions/install-dependencies
            -   name: Build
                id: build
                uses: ./.github/actions/archive-framework
                with:
                    destination: ${{ matrix.configuration['destination'] }}
                    human_readable_platform: ${{ matrix.configuration['human_readable_platform'] }}
            -   name: Xcarchive hack
                run: touch ./bindings_root.txt
            -   name: Upload xcarchive
                uses: actions/upload-artifact@v3
                with:
                    name: bindings
                    path: ./bindings/**/bin/release/${{ matrix.configuration['human_readable_platform'] }}/${{ matrix.configuration['human_readable_platform'] }}.xcarchive

    generate:
        name: Combine xcarchives into xcframework
        runs-on: macos-12
        needs: [ build-xcarchives ]
        env:
            DEVELOPER_DIR: /Applications/Xcode_13.2.1.app/Contents/Developer
            LDK_C_BINDINGS_BASE: /Users/runner/work/ldk-swift/ldk-swift/bindings/artifacts/ldk-c-bindings
        steps:
            -   name: Configure Xcode
                uses: maxim-lobanov/setup-xcode@v1
                with:
                    xcode-version: latest
            -   name: Checkout
                uses: actions/checkout@v2
            -   name: Download xcarchives
                uses: actions/download-artifact@v3
            -   name: Generate xcframework
                shell: bash
                run:
                    python3 ./src/scripts/generate_xcframework.py
                env:
                    PRESERVE_XCARCHIVES: true
